BLEU_retrain.png
loss_retrain.png
__pycache__/evaluate_function.cpython-39.pyc
__pycache__/model.cpython-39.pyc
__pycache__/parallel_block.cpython-39.pyc
__pycache__/utils.cpython-39.pyc
model/baseline.pth
model/finetuned_all_0_2_epoch11.pth
model/finetuned_all_0_2_epoch20.pth
model/finetuned_all_0_5_epoch10.pth
model/finetuned_all_0_5_epoch20.pth
model/finetuned_all_0_8_epoch4.pth
model/finetuned_all_0_8_epoch20.pth
model/pruned_all_0_2.pth
model/pruned_all_0_5.pth
model/pruned_all_0_8.pth
model/retrained_all_0_2_epoch11_epoch1.pth
model/retrained_all_0_2_epoch11_epoch3.pth
model/retrained_all_0_2_epoch11_epoch4.pth
model/retrained_all_0_2_epoch11_epoch10.pth
model/retrained_all_0_2_epoch11_epoch30.pth
model/retrained_all_0_2_epoch999_epoch4.pth
model/retrained_all_0_2_epoch999_epoch10.pth
model/retrained_all_0_5_epoch10_epoch10.pth
model/retrained_all_0_5_epoch10_epoch50.pth
model/retrained_all_0_5_epoch20_epoch10.pth
numpy/module_dict.npy
numpy/modules_finetuned_all_0_2_epoch11.npy
numpy/modules_finetuned_all_0_2_epoch20.npy
numpy/modules_finetuned_all_0_2_epoch999.npy
numpy/modules_finetuned_all_0_5_epoch10.npy
numpy/modules_finetuned_all_0_5_epoch20.npy
numpy/modules_finetuned_all_0_8_epoch4.npy
numpy/modules_finetuned_all_0_8_epoch20.npy
numpy/modules_pruned_all_0_2.npy
numpy/modules_pruned_all_0_5.npy
numpy/modules_pruned_all_0_8.npy
